.word-game{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
  }
  
  .word-game-container{
      background-color: #625851;
      color: #B0B0B0;
      border: 1px solid black;
      border-radius: 6px;
      width: 90%;
      height: 35%;
      padding: 4px;
  }

  .boarder{
    margin: 20px;
    border: 4px solid rgba(98, 88, 81, 0.5); /* 50% opacity */
    border-radius: 6px;
    width: 60%;
    padding: 4px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 300px;
    background-color: #e3e3e3;
    justify-content: space-between
}

  .Select-Your-Diff{
    display: flex;
    width: 28%;
    border: 4px solid rgba(98, 88, 81, 0.5); /* 50% opacity */
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 6px;
    background-color: #e3e3e3;
  }

  .Select-Your-Diff p {
    font-size: 20px;
    font-weight: bold;
  }

  .result {
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
  
  .input-field{
      opacity: 0;
      z-index: -999;
      position: absolute;
    }
  
    .test{
      background-color: #625851;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    .text-field{
      background-color: #625851;
      text-align: center;
      height: 100%;
      line-height: 1.6;
      font-size: 17px;
    }
  
   .start-game-text{
    background-color: #625851;
    color: #FAF9F6;
    font-size: 22px;
    font-weight: bold;
   }
  
  .statistics{
      background-color: #625851;
      color: #FAF9F6;
      margin: 0;
    }
  
  span.active{
      background-color: grey;
  }
  
  .char{
    user-select: none;
    cursor: text;
    background-color: #625851;
  }
  
  .char.correct{
      color: #FAF9F6;
  }
  
  .char.incorrect{
      color: #ff6962
  }
  
  .Refresh{
    border: 1px solid black;
    margin-bottom: 6px;
  }
  
  
  button{
    background-color: #faf9f6;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 16px;
  }
  
  .DropDown{
    background-color: #625851;
    color: #FAF9F6;
    width: 30%;
    font-size: 20px;
    height: 60px;
    border-radius: 4px;
    padding-left: 10px;
  }
  .selection{
    background-color: #625851;
    color: #FAF9F6;
  }

  .Timer{
    color: #454545;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
    width: 20%;
    font-size: 50px;
  }